/*Omat CSS tyylit tänne! 
NOTE:
#asetukset
STATIC_URL = '/static/'
STATICFILES_DIRS = (
        "/path/to/my/project/templates/static/",
)
#html
<html>
    <head>
        <title>TEst site</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    </head>

*/


.highlight1 {
  
  border-color: rgb(122, 9, 9);
  border-radius: 5px;
  border: 5px;
}

.textv1 {
  font-family: 'Gill Sans';

}

.margins {
        margin-top: 5px;
        margin-bottom: 100px;
        margin-right: 10px;
        margin-left: 10px;
      }


.margins2 {

    margin-left: 10rem;
    
    }      

/*NAVBAR*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #3a5d98b8;
  
  }

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.font {
  font-family: 'Cambria', serif; 
  font-weight: bold; 
  font-style: italic; 
  color: black; 
}


.font1 {
  font-family: 'Cambria', serif; 
  font-weight: bold; 
   
  color: black; 
}

.bgnd {
  position: relative;

}

.bgnd::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/filed.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%) opacity(0.7);
  z-index: -1;
}